@import "./base/reset";
@import "./base/common";
@import "./utils/variables";
@import "./utils/keyframes";
@import "./utils/mixin";
@import "./utils/placeholder";
@import "./sections/header";
@import "./sections/hero";
@import "./sections/main-section";
@import "./sections/classes";
@import "./sections/command";
@import "./sections/customers";
@import "./sections/footer";
@import "./sections/backdrop";
@import "./sections/menu";
@import "./sections/apartment";
@import "./sections/modal";
