.backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
background: rgba(0, 0, 0, 0.2);
position: fixed;
top: 0;
left: 0;


&__close-button {
  background-color: transparent;
  display: block;
  position: absolute;
  top: 8px;
  right: 8px;
  fill: #7E6D53;
}


&__close-icons {
}


&__box {
display: flex;
}


&__boxes {
}


&__boes {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding-left: 110px;

}


&__title {
  color: var(--text-of-pages, #7E6D53);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
width: 58px;
}


&__text {
color:  #7E6D53;
text-align: center;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: normal;
width: 190px;
height: 48px;
}

&__photo{
width: 112px;
height: 134px;
flex-shrink: 0;
}


&__name {
  color: #000;
font-family: Poppins;
font-size: 10px;
font-style: normal;
font-weight: 700;
line-height: normal;
opacity: 0.3;
}


&__input {
  display: inline-flex;
  padding: 4px 16px;
  justify-content: center;
  align-items: center;
  gap: 169px;
  border-radius: 8px;
  border: 1px solid #7E6D53;
}


&__icons {
  width: 24px;
height: 24px;
}

&__window {
  border-radius: 24px;
  background: #EDE9E3;
box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
position: absolute;
padding: 40px;
width: 562px;
height: 208px;
flex-shrink: 0;
}

&__boxen{
}


}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}  



.no-scroll {
  overflow: hidden;
}