.button {
  padding: 60px 0 20px;

  @media screen and (min-width:768px) {
    padding: 60px 0 15px;
  }

  @media screen and (min-width:1200px) {
    padding: 94px 0 25px;
  }


  &__list {
    @include flexbox($justify: flex-start);
    max-width: 326px;
    gap: 15px 8px;
    animation-name: button-list-animation;
    animation-duration: 1s;

    @media screen and (min-width:768px) {
      gap: 8px;
      @include flexbox();
      max-width: 575px;
      margin: 0 auto;
    }
  }

  &__item {
    line-height: 1.6;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &__subitem {
    color: $feauturesmain;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.63;
    letter-spacing: 0.48px;
    padding: 6px 22px;
    list-style: none;
    border: none;
    border-radius: 4px;
    padding: 6px 22px;
    transition-duration: 250ms;
    transition-property: background-color, box-shadow, color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $Whatdo;
      background-color: $whathbtbg;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 4px 0 rgba(0, 0, 0, 0.25);


    }

  }

}