.header {
  padding: 24px 0;
  border-bottom: 1px solid $header-color;


  &__container {
    @include flexbox();
  }


  &__first-logo {
    color: $whathbtbg;
    @include logo();
    animation-name: header-animation;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
  }

  &__second-logo {
    @include logo($logo-color: $feauturesmain);
    animation-name: header-animation;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
  }


  &__list {
    @include flexbox();
    animation-name: header-animation;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;



  }

  &__list-item {
    @include flexbox();
    gap: 53px;
    margin-left: 93px;
    line-height: 1.15;
  }

  &__link {
    color: $feauturesmain;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.15;
    letter-spacing: 0.28px;
    position: relative;
    transition-duration: 250ms;
    transition-property: color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link-line {
    color: $whathbtbg;


    &:after {
      content: "";
      display: block;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background: $whathbtbg;
      position: absolute;
      bottom: -32px;
      right: 0;
      animation-name: link-line-animation;
      animation-duration: 1s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;


    }
  }




  &__link:hover {
    color: $whathbtbg;
  }


  &__contact-list {
    display: flex;
    gap: 50px;
    margin-left: auto;
    animation-name: header-animation;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
  }


  &__contact-list-item {
    display: flex;
    gap: 50px;
    margin-left: 93px;
  }

  &__contacts-link:hover>&__contacts-icon {
    fill: $whathbtbg;
  }

  &__contacts-icon {
    fill: $commandtext;
    transition-duration: 250ms;
    transition-property: fill;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__contacts-list-item &__contacts-link {
    color: $commandtext;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
  }



  &__contacts-link {
    @include flexbox();
    gap: 10px;
    transition-duration: 250ms;
    transition-property: color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $whathbtbg;
    }
  }
}


.headers-link {
  color: $commandtext;
  font-size: 14px;
  font-weight: 500;
  line-height: 0.6;
  letter-spacing: 0.28px;
}

.headers-link:hover,
.headers-link:focus {
  color: $whathbtbg;
}