.header {
  padding: 10px 0;
  border-bottom: 1px solid $header-color;
  

  @media  screen and (min-width: 768px) {
    padding: 21px 0;
  }

  @media  screen and (min-width: 1200px) {
    padding: 24px 0;
  }

  &__container {
    @include flexbox($justify: flex-start);

    @media  screen and (min-width: 768px) {
      @include flexbox();
    }
  }


  &__first-logo {
    color: $whathbtbg;
    @include logo();
    animation-name: header-animation;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
  }

  &__second-logo {
    @include logo($logo-color: $feauturesmain);
    animation-name: header-animation;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
  }


  &__list {
    display: none;
    animation-name: header-animation;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;

    @media screen and (min-width: 768px) {
      @include flexbox();
      gap: 50px;
  }

  @media screen and (min-width: 1200px) {
      margin-left: 93px;
  }


  }

  &__list-item {
    @include flexbox();
    gap: 53px;
    margin-left: 83px;
    line-height: 1.15;
  }

  &__link {
    color: $feauturesmain;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.15;
    letter-spacing: 0.28px;
    position: relative;
    transition-duration: 250ms;
    transition-property: color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link-line {
    color: $whathbtbg;


    &:after {
      content: "";
      display: block;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background: $whathbtbg;
      position: absolute;
      bottom: -32px;
      right: 0;
      animation-name: link-line-animation;
      animation-duration: 1s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;


    }
  }




  &__link:hover {
    color: $whathbtbg;
  }


  &__contact-list {
    display: none;
    margin-left: auto;
    animation-name: header-animation;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
  
    @media screen and (min-width: 768px) {
      @include flexbox($align: flex-start);
      gap: 10px;
      flex-direction: column;
      margin-left: auto;
  }

  @media screen and (min-width: 1200px) {
      @include flexbox();
      flex-direction: row;
      gap: 50px;
      margin-left: auto;
  }
  }


  &__contact-list-item {


    @media screen and (min-width: 768px) {
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 0.28px;
      @include flexbox();
      gap: 10px;
  }

  @media screen and (min-width: 1200px) {
      font-size: 14px;
  }
  }

  &__contact-list-item:first-child &__contacts-icon {

    @media screen and (min-width: 1200px) {
        width: 16px;
        height: 12px;
    }
}

&__contact-list-item:last-child &__contacts-icon {

    @media screen and (min-width: 1200px) {
        width: 10px;
        height: 16px;
    }
}

  &__contacts-link:hover>&__contacts-icon {
    fill: $whathbtbg;
  }

  &__contacts-icon {
    fill: $commandtext;
    transition-duration: 250ms;
    transition-property: fill;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__contacts-list-item &__contacts-link {
    color: $commandtext;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
  }



  &__contacts-link {
    @include flexbox();
    gap: 10px;
    transition-duration: 250ms;
    transition-property: color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $whathbtbg;
    }
  }

  &__menu {
    background-color: transparent;
    margin-left: auto;

    @media screen and (min-width: 768px) {
        display: none;
    }
  }
  &__icon-menu {
    fill: $feauturesmain;

    &:hover,
    &:focus {
        fill: $whathbtbg;
    }
  }
}


.headers-link {
  color: $commandtext;
  font-size: 14px;
  font-weight: 500;
  line-height: 0.6;
  letter-spacing: 0.28px;
}

.headers-link:hover,
.headers-link:focus {
  color: $whathbtbg;
}