.heros {
  padding: 20px 0 60px;

  @media  screen and (min-width:768px) {
  padding: 15px 0 60px;
    
  }

  @media  screen and (min-width:1200px) {
  padding: 25px 0 94px;
    
  }

  &__container {
    padding: 0 15px;
    margin: 0 auto;
    outline: red dashed;

    @media screen and (min-width: 480px) {
      width: 480px;
  }

  @media screen and (min-width: 768px) {
      width: 804px;
  }

  @media screen and (min-width: 1200px) {
      width: 1230px;
  }
  }


  &__list {
    @include flexbox($justify: flex-start, $align: flex-start);
    gap: 30px;
    max-width: 1230px;
    width: 100%;
    animation-name: hero-list-animation;
    animation-duration: 1s;
    animation-timing-function: linear;
    

  }

  &__link {
    transition: box-shadow cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  }

  &__list-item {
    width: 100%;

    @media  screen and (min-width:768px) {
      flex-basis: calc((100% - 30px) / 2);
      
    }

    @media  screen and (min-width:1200px) {
    flex-basis: calc((100% - 60px) / 3);
      
    }



    &:hover,
    &:focus {
      box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
        0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
    }
  }

  &__list-item:hover &__overlay {
    transform: translateY(0%);
  }

  &__list-item:focus &__overlay {
    transform: translateY(0%);
  }




  &__list-box {
    overflow: hidden;
    height: 294px;
    position: relative;
  }


  &__overlay {
    background: rgba(33, 150, 243, 0.90);
    width: 450px;
    height: 294px;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(+101%);
    @include flexbox();
    padding: 63px 24px;
    transition-duration: 250ms;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    @media  screen and (min-width:768px) {
    width: 450px;
      
    }

    @media  screen and (min-width:1200px) {
      width: 375px;
      
    }
  }



  &__overlay-text {
    color: $Whatdo;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.54px;
  }




  &__photo {
    width: 100%;
  }

  &__article {
    padding: 20px 24px;
    border-bottom: 1px solid $frame-color;
    border-right: 1px solid $frame-color;
    border-left: 1px solid $frame-color;
    background-color: $Whatdo;
  }

  &__list-title {
    color: $feauturesmain;
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 1.08px;
    margin-bottom: 4px;
  }

  &__list-text {
    color: $commandtext;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.88;
    letter-spacing: 0.48px;
  }
}