.main-section {
  font-weight: 700;
  padding: 60px 0;

  @media screen and (min-width: 1200px) {
    padding: 94px 0 47px;
  }

  &__list {
 
    gap: 30px;
    flex-wrap: wrap;
    @include flexbox($align: flex-start);
    animation-name: list-animation;
    animation-duration: 1s;
  }

  &__item {
    max-width: 450px;

    @media screen and (min-width: 768px) {
      width: 354px;
    }

    @media screen and (min-width: 1200px) {
      width: 270px;
    } 

    &::before {
      content: "";
      display: block;
      background-color: $commandbg;
      background-image: url(../images/antenna.png);
      background-repeat: no-repeat;
      width: 100%;
      height: 120px;
      background-position: center;
      border-radius: 4px;
      background-size: 70px;
      @include flexbox()
    }

    &:first-child::before {
      background-image: url(../images/antenna.png);
    }

    &:nth-child(2)::before {
      background-image: url(../images/clock.png);
    }

    &:nth-child(3)::before {
      background-image: url(../images/diagram.png);
    }

    &:last-child::before {
      background-image: url(../images/astronaut.png);
    }
  }

  &__title {
    width: 270px;
    color: $feauturesmain;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 33px;
  }

  &__text {
    width: 270px;
    height: 72px;
    flex-shrink: 0;
    color: $commandtext;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;

  }
}