.backdrop__menu {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 6;
    top: 0;
    left: 0;
    transition: opacity 400ms cubic-bezier(.92,.16,.17,.66)
    
}


.menu {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 7;
    transform: translate(-50%, -50%);
    background-color: $Whatdo;
    padding: 48px 40px;
    @include flexbox($align: flex-start, $wrap: nowrap, $justify: space-between);
    flex-direction: column;
    transition: visibility 5s cubic-bezier(0.075, 0.82, 0.165, 1),
        transform 0.5s cubic-bezier(0.25, 0.31, 0.17, 0.89);


    @media screen and (min-width: 768px) {
        display: none;
    }

    &__list {
        @include flexbox($align: flex-start);
        flex-direction: column;
        gap: 32px;
    }



    &__link {
        font-weight: 500;
        font-size: 40px;
        letter-spacing: 0.02em;
        color: $feauturesmain;
    }


    &__link--checked {
        color: $whathbtbg;
    }



    &__contacts-list {
        @include flexbox($align: flex-start);
        flex-direction: column;
        gap: 30px;
        margin-bottom: 66px;
    }


    &__phone {
        font-weight: 500;
        font-size: 34px;
        letter-spacing: 0.02em;
        color: $whathbtbg;
    }


    &__address {
        font-weight: 500;
        font-size: 24px;
        letter-spacing: 0.02em;
        color: $commandtext;
    }


    &__socials-list {
        @include flexbox($justify: flex-start);
        gap: 10px;
    }


    &__socials-item {
        @include flexbox();
        gap: 10px;
    }


    &__run {
        font-weight: 500;
        font-size: 18px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: $whathbtbg;

        &:hover,
        &:focus {
            color: $buttoncolor;
        }
    }


    &__line {
        width: 1px;
        height: 22px;
        background-color: rgba(33, 33, 33, 0.2);
    }


    &__button {
        background-color: transparent;
    }


    &__svg {
        fill: $feauturesmain;
        position: fixed;
        top: 10px;
        right: 15px;

        &:hover{
            fill: $whathbtbg;
        }
    }

    .is-hidden .menu {
        transform: translate(101%, 0);
    }


}



.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.no-scroll {
    overflow: hidden;
}